# SPDX-License-Identifier: Apache-2.0
# SELinux policy for the framework SimpleButton system service

type simplebutton_service, app_api_service, system_server_service, service_manager_type;

# Allow system_server to register and use the service
allow system_server simplebutton_service:service_manager { add find };

# Allow system_server to call the HAL
hal_client_domain(system_server, hal_simplebutton)
